<div
  class="static-slider-head"
  style="background-image: url(assets/images/landingpage/banner-bg.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-10 align-self-center text-center no-trans">
        <h1 class="title">Introducción</h1>
        <h5 class="subtitle op-5">
            Comenzando en el mundo de TypeScript
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container spacer max-800">
  <div class="row justify-content-center">
    <!-- Column -->
    <div class="col-md-12 no-trans text-center">
      <h2 class="title">Posts</h2>
      <h6 class="subtitle">
        Esta seccion contiene 
        varios posts, que tratan acerca de la introducción a TypeScript
      </h6>

      <h6 class="subtitle">
       Se suguiere leer en orden
      </h6>

    </div>
    <!-- Column -->
  </div>
  <div class="row m-t-40 justify-content-center">
    <!-- Column -->
    <div
      class="col-md-12 no-trans border-bottom mb-4"
      *ngFor="let bl of service.Blogs"
    >
      <div class="card" data-aos="flip-left" data-aos-duration="1200">
        <div class="row">
          <div class="col-md-2 no-trans">
            <span class="text font-medium">{{ bl.blogPosts }}</span>
            <h6 class="card-subtitle font-12 mt-1">{{ bl.category }}</h6>
          </div>
          <div class="col-md-7 no-trans">
            <h5 class="font-medium cursor-pointer" (click)="viewDetail(bl.id)">
              {{ bl.heading }}
            </h5>
            <p class="m-t-20">
              {{ bl.subHeading }}
            </p>
          </div>
          <div class="col-md-3 no-trans">
            <a *ngIf="bl.isActive"
              class="linking font-medium text-themecolor m-t-10 cursor-pointer"
            >
              <span (click)="viewDetail(bl.id)">Ver</span>
              <i class="ti-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
