<div
  class="static-slider-head"
  style="background-image: url(assets/images/landingpage/banner-bg.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-10 align-self-center text-center no-trans">
        <h1 class="title">¿Qué es ECMAScript?</h1>
        <h5 class="subtitle op-5">
          Estandarizando la web
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container spacer max-800">
  <div class="row justify-content-center">
    <!-- Column -->
    <div class="col-md-12 no-trans text-left">
      <h2 class="title">¿Qué es ECMAScript?</h2>

      <p class="subtitle">
        ECMAScript es una estandarización para lenguajes
        de scripting, como JavaScript. Esta estandarización
        tiene como objetivo asegurar la interoperabilidad en
        la web, garantizando que varios navegadores web
        interpreten el código JavaScript de la misma manera
        y permitiendo a los desarrolladores crear un único
        software compatible con todos ellos.
      </p>

      <p class="subtitle">
        Existen múltiples versiones de este estándar,
        y los navegadores web populares indican su
        compatibilidad con cada una de ellas.
      </p>


    </div>
    <!-- Column -->
  </div>
  <div class="row m-t-40 justify-content-center">
    <!-- Column -->
    
  </div>
</div>
