<div
  class="static-slider-head"
  style="background-image: url(assets/images/landingpage/banner-bg.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-10 align-self-center text-center no-trans">
        <h1 class="title">¿Qué es TypeScript?</h1>
        <h5 class="subtitle op-5">Ordenemos un poco las cosas</h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container spacer max-800">
  <div class="row justify-content-center">
    <!-- Column -->
    <div class="col-md-12 no-trans text-left">
      <h2 class="title">¿Qué es TypeScript?</h2>

      <p class="subtitle">
        Podriamos decir que TypeScript es una forma de escribir JavaScript, pero
        de una manera mucho más estandarizada y controlada, a lo que denominamos
        un lenguaje fuertemente tipado. En pocas palabras, TypeScript es
        JavaScript con esteroides.
      </p>

      <p class="subtitle">
        TypeScript se orienta hacia la programación orientada a objetos, lo que
        ofrece una estructuración de datos en la cual podemos utilizar clases,
        herencia e interfaces. Esto es muy conveniente en proyectos extensos, ya
        que nos permite trabajar con ciertos patrones de diseño.
      </p>

      <p class="subtitle">
        Normalmente se dice que TypeScript es un lenguaje compilado, pero el
        término correcto es "transpilado". Esto se debe a que todo lo que
        escribimos en TypeScript no se traduce al lenguaje máquina, sino que se
        convierte a JavaScript.
      </p>

      <p class="subtitle">
        Creo que popularmente se le dice que es compilado debido a que en otros
        lenguajes populares como Java o C++ se usa ese término, en los cuales
        está correctamente implementado, porque su compilador traduce las
        instrucciones (código fuente) al lenguaje máquina. Sin embargo, este no
        es el caso de TypeScript. Además, al llamar a su “compilador” de esta
        manera aporta a que lo llamen lenguaje compilado.
      </p>

      <p class="subtitle">
        Para evitar discusiones, en este blog seguiré utilizando el término
        "compilado" para referirme a TypeScript, ya que es la forma en que
        comúnmente se le nombra, y no tengo la intención de cambiar eso.
      </p>
    </div>

    <div class="col-md-12 no-trans text-left">
      <h2 class="title">Partes de TypeScript</h2>

      <p class="subtitle">TypeScript se compone principalmente de 3 partes:</p>

      <ol>
        <li>
          <p class="subtitle">
            <b>Lenguaje:</b>
            Incluye la sintaxis, los tipos, las palabras reservadas, entre
            otros.
          </p>
        </li>
        <li>
          <p class="subtitle">
            <b>TypeScript Compiler (TSC):</b>
            Este es el compilador que traduce el código fuente en TypeScript a
            su equivalente en JavaScript.
          </p>
        </li>
        <li>
          <p class="subtitle">
            <b>TypeScript Languaje Service:</b>
            Este es un conjunto de herramientas y API que permite a los editores
            de texto, como Visual Studio Code, analizar tu código mientras
            escribes y ofrecerte funciones como autocompletado, refactorización
            y navegación en el código, entre otras.
          </p>
        </li>
      </ol>
    </div>
    <!-- Column -->
  </div>
  <div class="row m-t-40 justify-content-center">
    <!-- Column -->
  </div>
</div>
