<div
  class="static-slider-head"
  style="background-image: url(assets/images/landingpage/banner-bg.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-10 align-self-center text-center no-trans">
        <h1 class="title">¿Qué es JavaScript?</h1>
        <h5 class="subtitle op-5">Definamos JavaScript</h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container spacer max-800">
  <div class="row justify-content-center">
    <!-- Column -->
    <div class="col-md-12 no-trans text-left padding-text">
      <h2 class="title">¿Qué es JavaScript?</h2>

      <p class="subtitle">
        No podemos entender TypeScript sin antes entender JavaScript; sería como
        querer correr antes de aprender a caminar.
      </p>

      <p class="subtitle">
        JavaScript es un lenguaje de programación dinámico y muy flexible, el
        cual es considerado el lenguaje universal de la web; es decir, todo
        programa usado en la web debe hablar JavaScript o nadie hablará con él.
      </p>

      <p class="subtitle">
        JavaScript llegó al mundo como el lenguaje del lado del cliente y así
        fue durante un buen tiempo hasta la llegada de Node.js, un entorno de
        ejecución del lado del servidor que habla en JavaScript. Desde entonces,
        también es posible usarlo en el servidor.
      </p>

      <p class="subtitle">
        Es entonces cuando se comienzan a hacer aplicaciones del lado del
        servidor con Node.js. ¿Qué mejor que usar el mismo lenguaje del
        front-end en el back-end, verdad? Ya no necesitas tener un programador
        JavaScript y otro programador en Java. Con JavaScript ya puedes hacer de
        todo, ¿verdad? ¿eh?
      </p>

      <p class="subtitle">
        Justo aquí es cuando el tipado débil de JavaScript comienza a ser un
        problema. A medida que el proyecto crece, se vuelve más difícil mantener
        el control y el orden, y encontrar errores se convierte en todo un
        desafío. Por lo tanto, hacer aplicaciones escalables no es un lujo que
        te puedas dar con facilidad.
      </p>

      <p class="subtitle">
        ¿Eh? Ahora ya no parece ser tan buena idea hacer todo con JavaScript,
        sobre todo si hablamos de proyectos grandes, ¿verdad?
      </p>

      <p class="subtitle">
        Es por esta raz por la que a JavaScript le ha costado ganar terreno en
        el lado del servidor, teniendo que competir con Java, C#, e incluso PHP.
      </p>
    </div>
    <!-- Column -->
  </div>
  <div class="row m-t-40 justify-content-center">
    <!-- Column -->
  </div>
</div>
